:root {
  // Status color
  --fvm-danger-clr: rgb(243, 102, 102);
  --fvm-info-clr: rgb(142, 176, 197);
  --fvm-primary-clr: rgb(64, 158, 255);
  --fvm-success-clr: rgb(98, 183, 56);
  --fvm-warning-clr: rgb(230, 162, 60);
}
